doctype html
html(lang="es")
    head
        include partials/header
    body.login
        .contenedor-formulario 
            h1 #{titulo}
            if error 
                div.alerta.error= error
            form#formulario.caja.caja-login(method="post")
                .campo 
                    label(for="password") Password: 
                    input(type="password", name="password", placeholder="Nuevo Password" value= password)
                .campo.enviar
                    input.boton(type="submit" value="Reestablecer")
                .campo.acciones
                    a(href="/auth/iniciar-sesion") Ya recordé, iniciar sesión