doctype html
html(lang="en")
    head
        style 
            include estilos.css
            
    body 
        h2 Reestablecer Contraseña
        p Hola haz solicitado reestablecer tu contraseña, por favor haz click en el siguiente enlace 
        a(href=`${requestUrl}`) Ir a resetear password 
        p Si no puedes acceder a este enlace , visita #{requestUrl}
        p Si no solicitaste este email, puedes ignorarlo
