mixin crearProyecto(proyecto = {})
    form.agregar-proyecto(action=`/proyecto/${proyecto.url ? 'editar/'+proyecto.url : ''}` method="post")
        div(class="campo")
            label(for="nombre") Nombre Proyecto 
            input(type="text" id="nombre" name="nombre" placeholder="Nombre Proyecto" value=proyecto.nombre) 
        .campo.enviar
            input(type="submit" value=`${proyecto.nombre ? 'Guardar' : 'Agregar'}` class="boton")